Options -Indexes

<IfModule mod_headers.c>
  Header always set X-Content-Type-Options "nosniff"
  Header always set Referrer-Policy "same-origin"
  Header always set X-Frame-Options "DENY"
</IfModule>

<FilesMatch "^(bootstrap|config)\.php$">
  Require all denied
</FilesMatch>

<FilesMatch "\.(opus|ogg)$">
  Require all denied
</FilesMatch>
